# Exploratory Analysis
This notebook will be used for my initial exploration of the data set we will use. There will not be much (if any) structure to the code below.ation types.

In [1]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from ydata_profiling import ProfileReport
%matplotlib inline

In [2]:
# Load data set
df = pd.read_csv('../data/ibm_hr_analytics.csv')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [3]:
# See the amount of data we have
len(df.columns), len(df)

(35, 1470)

In [4]:
# Get all the column names
cols = pd.Series(df.columns)
cols.head()

0               Age
1         Attrition
2    BusinessTravel
3         DailyRate
4        Department
dtype: object

In [5]:
# Extract the datatypes of each column
import re
col_dtypes = pd.Series()
i = 0
for col in cols:
    dtype_str = re.sub(r"<class '|'>", "", str(type(df[col][0]))).replace('numpy.', '')
    col_dtypes = col_dtypes._append(pd.Series(dtype_str, [i]))
    i += 1
col_dtypes.head()

0    int64
1      str
2      str
3    int64
4      str
dtype: object

In [6]:
# Extract sample values from each column
col_examples = []
i = 0

for col in cols:
    if col_dtypes.iloc[i].find('str') == -1:
        col_examples += [[df[col][np.random.randint(len(cols))] for ix in range(3)]]
    else:
        col_examples += [list(df[col].unique())[:3]]
    i += 1

col_examples[:5]

[[24, 44, 42],
 ['Yes', 'No'],
 ['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'],
 [1389, 1125, 1219],
 ['Sales', 'Research & Development', 'Human Resources']]

In [7]:
# Create table to describe data set features
feature_df = pd.DataFrame({
    'Feature': cols,
    'Datatype': col_dtypes,
    'Example Values': col_examples
})
feature_df.head()

          Feature Datatype                                    Example Values
0             Age    int64                                      [24, 44, 42]
1       Attrition      str                                         [Yes, No]
2  BusinessTravel      str    [Travel_Rarely, Travel_Frequently, Non-Travel]
3       DailyRate    int64                                [1389, 1125, 1219]
4      Department      str  [Sales, Research & Development, Human Resources]

In [8]:
# Export the feature-describing table
feature_df.to_csv('../data/description_of_data_features.csv', index=False)

In [9]:
# Create and export exploratory profile to visualize data features and potential correlations
df_profile = ProfileReport(df, title='Raw Data Profile', dark_mode=True)
df_profile.to_file('../reports/raw_data_profile.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

C:\Users\lanej\Projects\employee_attrition\envs\dev\Lib\site-packages\ydata_profiling\model\correlations.py:66: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: 'Yes'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

It looks like there was an issue with the profile report due to string columns. We will have to make another report with the refactored data and compare the results. After taking a look at this experimental report, it looks like there are some features that we can't make any deductions on (constant or unique). I will also remove these as part of the refactoring/cleaning process. I will do this in the next notebook.